<!DOCTYPE html>
<html>
  <head>
    <title>NewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="wrapper">
    <%= render 'layouts/dashboard/sidenav' %>
    <div id="content">
      <%= render 'layouts/dashboard/navbar' %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
      });
    </script>
  </body>
</html>
